#first-page {
    width: 100%;
    height: 100vh;
    background-image: url(/Images/forestImage.jpg);
    background-position: top;
    background-size: cover;
}

.fp{
    height: 100%;
    width: 100%;
}

.fp-top {
    display: flex;
    align-items: center;
    height: 20%;
    width: 100%;
}

.fp-top-1 {
    width: 15%;
    a {
        img {
            width: auto;
            height: 50px;
        }
    }
}

.fp-top-2{
    width: 70%;

    ul{
        display: flex;
        

        li{
            list-style: none;
            padding-right: 30px;
            font-family: oswald;
            font-size: 20px;

            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}

.fp-top-3{
    width: 15%;

    ul{
        display: flex;
        justify-content: flex-end;

        li{
            list-style: none;
            padding-left: 20px;
            

            a{
                text-decoration: none;
                color: white;
                font-size: 30px;
            }
        }
    }
    
}

.fp-center{
    width: 100%;
    height: 60%;
    display: flex;
    
}

.fp-center-1{
    width: 50%;
    border-left: 2px solid #86DA44;
    margin-left: 95px;
    padding-left: 95px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.fp-center-1-1 {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    button {
        width: 30%;
        height: 30px;
    }

    .p-1{
        font-size: 60px;
        font-family: oswald;
        color: white;
        font-weight: 300;
    }

    p{
        font-size: 15px;
        font-family: oswald;
        color: white;
        font-weight: 100;
    }
}

.fp-center-2{
    width: 50%;
}

.fp-bottom{
    width: 100%;
    height: 20%;
}

